<div>
    <hr>
    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstanceCallback"
    cellspacing="0" width="100%" role="grid" class="table table-striped table-bordered table-hover">
        <tfoot>
            <tr>
            </tr>
        </tfoot>
    </table>
</div>